.info {
  font-family: monospace;
  text-align: center;
  font-size: 30px;
  padding-top: 30px;
  float: left;
}

.cell {
  width: 50px;
  height: 30px;
  text-align: center;
  background-color: rgb(197, 195, 195);
  padding-top: 5px;
  border: rgb(49, 42, 42) 2px solid;
}
img {
  width: 50px;
  height: 50px;
}
.cell:hover {
  background-color: blueviolet;
}
.life {
  padding-top: 20px;
}
h1 {
  font-family: monospace;
  text-align: center;
  font-size: 40px;
  padding-top: 10px;
  padding-right: 60%;
}

.mine {
  background-color: red;
}

.gameStat {
  color: brown;
}

table {
  margin: auto;
}

.footer {
  font-family: monospace;
  text-align: center;
  font-size: 25px;
  padding-top: 10%;
  margin-top: 10%;
  float: right;
  color: rgb(16, 16, 134);
}

.headLine {
  color: blueviolet;
}
.timePassed {
  font-size: 40px;
  padding-bottom: 15px;
  color: blueviolet;
}
.win {
  text-align: center;
  padding-bottom: 15px;
}
button {
  font: 20px black solid;
  background-color: rgb(214, 36, 214);
  transition: 1000ms;
  font-family: monospace;
}
button:hover {
  background-color: teal;
}

h1 span {
  color: tomato;
}
